/**
 * SCSS style for “cookie” information notice.
 */
.gdpr-notice {
	background-color: #f8f8f8;
	bottom: 0;
	box-shadow: 0 0 8px rgba(0, 0, 0, .25);
	color: #333;
	font-size: 13px;
	left: 0;
	line-height: 1.5;
	position: fixed;
	right: 0;
	text-align: left;
	z-index: 9999;
	
	> .container {
		padding: 20px;
	}
	
	@media (min-width: 840px) {
		font-size: 15px;
		
		> .container {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding: 20px 40px;
		}
		
		.notice-content {
			padding-right: 40px;
		}
	}
	
	a:not(.btn) {
		color: #000;
	}
	
	p:last-child {
		margin-bottom: 0;
	}
}

.notice-buttons {
	flex: 1 0 auto;
	margin-top: 5px;
	
	> a {
		cursor: pointer;
		display: block;
		font-size: 15px;
		text-align: center;
		
		&.btn:hover {
			text-decoration: none;
		}
	}
}

.gdpr-no-button {
	background-color: rgba(0, 0, 0, 0) !important;
	box-shadow: none !important;
	color: inherit !important;
	font-size: 13px !important;
	margin-top: 10px;
	padding: 0;
	
	&:hover {
		text-decoration: underline;
	}
}